/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

/* import statement must be at the top */

/* reset css for better layout and styling */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight:400;
  /* font-size:16px; */
}

/* set color variables to use throughout app */
:root {
  --gray: #e1dbd6;
  --red:#F16A70;
  --green:#e2e2e2;
  --blue:#8CDCDA;
  --white: #ffffff;
  --yellow:#ede65f;
  --darkblue:#154c79;

}

/* set html & body to height 100% for better layout */
html,
body {
  height:100%;
  background-color: var(--gray);
 }

 /* set game to center of screen via parent element - body */
body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding: 90px 20px;
}

/* shared utility classes */
button:hover{
  cursor:pointer;
  opacity:90%;
}
.hidden{
  display:none !important;
}
.border{
  border:1px solid #2596be !important;
}
.shadow{
  box-shadow:rgba(0,0,0,0.04) 0px 2px 4px, rgba(0,0,0,0.03)0px 7px 13px;
}
.red {
color: var(--red);
}
.blue{
  color: var(--blue);
}

/* HEADER SECTION */
header{
  color: var(--darkblue);
  padding:10px;
}

header p{
  margin-top:5px;
  text-align: center;
  font-size:25px;
}



/* Game grid rows - first row 50, next 3 80, last row 60 */
.grid_container{
display:grid;
grid-template-columns: repeat(3,80px);
grid-template-rows: 50px repeat(3,80px) 60px;
gap: 5px;
}

/* media queries for tablet or desktop at min width 768px and up */
@media screen and (min-width: 768px) {
    *{
  font-size:18px;
  }
  header p{
    font-size:40px;
  }
  .turn p{
    font-size:20px;
  }
  .turn i{
font-size: 1.5rem;

}
  .grid_container{
    width:490px;
    grid-template-columns:repeat(3,150px);
    grid-template-rows:50px repeat(3,150px) 60px;
    gap:20px;
  }

  .square i{
    font-size: 4rem;
  }

}

/* TURN SECTION WITH ANIMATIONS */
.turn{
  width:100%;
  height:100%;
  border-radius:10px;
  border:1px solid #2596be;
  background-color:var(--gray);
  grid-column-start:1;
  grid-column-end:3;
  gap:20px;
  display: flex;
  align-items: center;
  align-self: center;
}

@keyframes slide-text-animation{
  0%{
    opacity:0;
    transform:translateX(-20px);
  }
  100%{
    opacity:100%;
    transform:translateX(0);
  }
}

.turn p{
font-size:16px;
animation: 0.6s ease-in-out slide-text-animation;
}

@keyframes turn-icon-animation{
  0%{
    transform:scale(1);
  }
  25%{
    transform:scale(1.4);
  }
  100%{
    transform:scale(1);
  }
}

.turn i{
font-size: 1.7rem;
margin-left:10px;
animation: 0.6s ease-in-out turn-icon-animation;
}

/* MENU SECTION */
.menu{
  border-radius:10px;
  background-color: var(--gray);
  position:relative;
}

.menu_btn{
   background-color: var(--gray);
  width:100%;
  height:100%;
  display:flex;
  justify-content:space-around;
  align-items:center;
  border-radius:10px;
  border:1px solid #2596be;
}

.menu_btn:focus,
.menu_btn:hover {
background-color:#ffc09f;
}

.menu .items{
  position:absolute;
  right:0;
  z-index:10;
  top:60px;
  border-radius:2px;
  padding:10px;
  background-color:var(--gray);
}

.menu .items button{
  background-color:transparent;
  padding:8px;
  color:black;
}

.reset-btn{
border-radius:10px;
width:100%;
border:1px solid #2596be;
}

.new-round-btn{
border-radius:10px;
width:100%;
border:1px solid #2596be;
}



.menu .items button:hover{
  text-decoration:underline;
  cursor:pointer;
  background-color:#ffc09f;
}


/* INDIVIDUAL SQUARES ON GRID */
.square{
  display:flex;
  justify-content: center;
  align-items:center;
  border:1px solid #2596be;
  /* background-color: var(--green); */
  border-radius:10px;
  font-size:3rem;
}

.square:hover{
  cursor:pointer;
  opacity:90%;
}
/* SCORE BOARD */
.score{
  border:1px solid #2596be;
  background-color: var(--blue);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-radius:10px;
}

.score p{
  font-size:14px;
  font-weight:600;
}

.score span{
  font-size:12px;
  margin-top:2px;
}

/* FOOTER SECTION */
footer{
  color: var(--darkblue);
  margin-top:20px;
}

footer p{
  margin-top:5px;
  margin-bottom:10px;
  text-align: center;
}

/* footer a{
  color: var(--white);
} */
/* MODAL SECTION STYLES */
.modal{
  display:flex;
  justify-content: center;
  align-items:center;
  position:fixed;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.6);

}

.modal-contents{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;
  transform: translateY(-80px);
  height:150px;
  width:100%;
  max-width:300px;
  background-color:#2a4544;
  border-radius:20px;
  color:white;
  margin:10px;
}

.modal-contents button{
padding:10px;
background-color: var(--blue);
color:#2a4544;
border-radius:10px;
}



